*.pyc
__pycache__/
db.sqlite3
.env
.venv/
env/

db.sqlite3
db_backup.sqlite3
data.json
data_utf8.json
*.json

firebase-messaging-sw.js
serviceAccountKey.json

static/images/manifest.json
# Firebase secrets
firebase/serviceAccountKey.json
