services:
  web:
    build: .
    command: gunicorn clinic.wsgi:application --bind 0.0.0.0:8000 --workers 3 --threads 2
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - db
      - redis

  celery:
    build: .
    command: celery -A clinic worker -l info
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7

  nginx:
    image: nginx:1.25
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/staticfiles
      - media_volume:/media
    depends_on:
      - web

volumes:
  pgdata:
  static_volume:
  media_volume:
