{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Pratibha Homeopathic Clinic{% endblock %}</title>
  {% tailwind_css %}
</head>
<body class="bg-background text-foreground">

  {% include "components/navbar.html" %}

  {% block content %}{% endblock %}

  {% include "components/footer.html" %}

  <script src="{% static 'js/ui.js' %}"></script>
  
</body>
</html>
