{% load static tailwind_tags %}
<!-- components/about.html -->
<section class="bg-white py-20">
    <div class="max-w-7xl mx-auto px-4">

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">

            <!-- LEFT CONTENT -->
            <div>
                <h2 class="text-4xl md:text-5xl font-bold text-primary leading-tight mb-6">
                    Best Homeopathy Clinic in<br>Ahmedabad 
                </h2>

                <p class="text-gray-700 leading-relaxed text-lg">
                    Dr. Ketul believes that effective healing starts with a thorough understanding of the patient's
                    unique health story. Every consultation involves a detailed, empathic case-taking session to
                    identify the totality of symptoms—physical, mental, and emotional. Patients can expect a partnership
                    approach, where they are actively involved in their journey toward optimal, sustainable health.

                </p>
            </div>

            <!-- RIGHT IMAGE -->
            <div class="flex justify-center lg:justify-end">
                <img src="{% static 'images/doctor-hero.jpg' %}" alt="Dr Pratibha Tanwar Clinic"
                    class="rounded-lg shadow-lg max-w-full h-auto">
            </div>

        </div>

    </div>
</section>