<!-- components/cta.html -->
{% load static tailwind_tags %}
<section class="bg-blue-800 py-10 text-center w-full  text-white">
    <div class="container-custom flex flex-col md:flex-row justify-between items-center gap-6 w-1/2 m-auto">
        <h2 class="text-4xl font-bold">Make An Appointment Right Now</h2>
        <a href="#appointment" class="btn-light border-2 border-white rounded-md px-6 py-3 font-semibold hover:bg-white hover:text-blue-800 transition">Book Clinic Appointment Now</a>
    </div>
</section>