{% load static %}
<!-- ================= FOOTER ================= -->


<footer class="bg-[#003242] text-white pt-20">
    <div class="max-w-7xl mx-auto px-4">

        <!-- Top Footer Grid -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-12 pb-16 border-b border-white/20">

            <!-- ABOUT -->
            <div>
                <h4 class="font-bold text-lg mb-4">
                    <span class="text-orange-400">|</span> ABOUT US
                </h4>
                <p class="text-gray-200 leading-relaxed">
                    We are one of the Best Homeopathic Clinics in Ahmedabad.
                </p>
            </div>

            <!-- QUICK LINKS -->
            <div>
                <h4 class="font-bold text-lg mb-4">
                    <span class="text-orange-400">|</span> QUICK LINKS
                </h4>
                <ul class="space-y-2 text-gray-200">
                    <a href="{% url 'homeopathy' %}"><li>› Homeopathy</li></a>
                    <a href="{% url 'testimonials' %}"><li>› Testimonials</li></a>
                    <a href="{% url 'gallery_videos' %}"><li>› Gallery/Video</li></a>
                    {% comment %} <a href="{% url 'homeopathy' %}"><li>› About the Doctor</li></a>
                    <a href="{% url 'medical_disclaimer' %}"><li>› Medical Disclaimer</li></a> 
                    <a href="{% url 'editorial_policy' %}"><li>› Editorial Policy</li></a>{% endcomment %}
                </ul>
            </div>

            <!-- OTHER LINKS -->
            <div>
                <h4 class="font-bold text-lg mb-4">
                    <span class="text-orange-400">|</span> OTHER LINKS
                </h4>
                <ul class="space-y-2 text-gray-200">
                    <a href="{% url 'online_consultation' %}"><li>› Online Consultation</li></a>
                    <a href="#"><li>› Treatments</li></a>
                    <a href="#"><li>› Book Consultation</li></a>
                    <a href="{% url 'faqs' %}"><li>› FAQs</li></a>
                    <a href="{% url 'blogs' %}"><li>› Blogs</li></a>
                    {% comment %} <a href="{% url 'sitemap' %}"><li>› Sitemap</li></a> {% endcomment %}
                </ul>
            </div>

            <!-- NEWSLETTER -->
            <div>
                <h4 class="font-bold text-lg mb-4">
                    <span class="text-orange-400">|</span> SIGN UP FOR NEWSLETTER
                </h4>
                <h3>Comming Soon...</h3>

                <form class="space-y-4">
                    <input type="email" placeholder="Enter Your Email"
                        class="w-full px-4 py-3 rounded text-white focus:outline-none border-1 border-amber-50">
                    <button type="submit"
                        class="text-primary font-semibold bg-white px-6 py-3 text-[#003242] rounded  hover:bg-gray-700 transition">
                        Send
                    </button>
                </form>
            </div>

        </div>

        <!-- Bottom Footer -->
        <div class="flex flex-col md:flex-row justify-between items-center py-6 text-gray-300 text-sm gap-4">

            <p>
                Copyright © {% now "Y" %}. Designed and Managed by
                <span class="font-semibold text-white">Krish Suthar</span>
            </p>


            <!-- Social Icons (placeholders) -->

            <div class="flex gap-4 text-lg">
                <a href="https://www.facebook.com/drketulshomeopathicclinic"><span>Facebook</span></a>
                <a
                    href="https://www.instagram.com/drketulshomeopathicclinic?igsh=MWowNW1pMG9ocjV6MQ== "><span>Instagram</span></a>

                <a href="https://youtube.com/@ketulsoni-fd1pi?si=F0zOKLd8AMRkXoAY"><span>Subscribe</span></a>
            </div>

        </div>

    </div>
</footer>