{% load static tailwind_tags %}
<!-- ================= HERO SECTION ================= -->
<section class="bg-gray-50">
    <div class="max-w mx-auto ml-7 grid md:grid-cols-2 gap-10 px-4 py-5 items-center">

        <!-- Left Content -->
        <div>
            <h1 class="text-4xl md:text-5xl font-bold text-primary mb-6 ">
                KETUL SONI HOMEOPATHIC CLINIC
            </h1>

            <p class="text-lg mb-8">
                "A POSITIVE COMMITMENT TO HEALING"
            </p>

            <div class="flex gap-4">
                <a href="tel:+918733073586"
                    class="border-2 border-primary text-primary px-6 py-3 font-semibold hover:bg-primary hover:text-amber-600 transition">
                    Call Now
                </a>

                <a href="#" class="bg-amber-600 text-white px-6 py-3 font-semibold hover:opacity-90 transition">
                    Book Clinic Appointment Now
                </a>
            </div>
        </div>

        <!-- Right Image -->
        <div class="relative">
            <div
                class="h-150 w-80 right-180 bottom-0.5 bg-[#F9FAFB] absolute rounded-br-full rounded-tr-full rounded-tl-2xl rotate-195">
            </div>
            <img src="{% static 'images/doctor-hero.jpg' %}" alt="Dr Pratibha Tanwar"
                class="rounded-lg w-full object-fill h-130">
        </div>

    </div>
</section>