{% load static tailwind_tags %}
<!-- ================= HERO SECTION ================= -->

<style>
  @media (max-width:768px) {
    .hid-me{
      display: none;
    }
  }
</style>

<section class="bg-gray-50 ">
  <div class="max-w mx-auto grid md:grid-cols-2  gap-10 px-4 items-center">
    <!-- Left Content -->
    <div>
      <h1 class="text-4xl md:text-5xl font-bold text-primary mb-6">{{ clinic.clinic_name }}</h1>

      <p class="text-lg mb-8">"{{ clinic.tagline|upper }}"</p>

      <div class="flex gap-4">
        <a href="tel:+918733073586"
          class="border-1 rounded-2xl border-primary text-center text-primary px-6 py-3 font-semibold hover:bg-primary hover:text-amber-600 transition"
          aria-label="Call">
          Call Now 📞
        </a>


        <a href="#" class="bg-amber-600 rounded-2xl text-white px-6 py-3 font-semibold hover:opacity-90 transition">Book
          Clinic
          Appointment Now</a>
      </div>
    </div>

    <!-- Right Image -->
    <div class="relative">
      <img src="{{ doctor.image.url }}" alt="Dr Ketul Soni" class="rounded-lg w-full h-115 hid-me" />
    </div>
  </div>
</section>