{% load static %}
<section class="bg-white">
  <div class="max-w-7xl mx-auto grid md:grid-cols-2 gap-12 px-4 py-20 items-center">
    <div>
      <img src="{{ doctor.image.url }}" alt="Dr. Ketul Soni" class="rounded-lg" />
    </div>

    <div>
      <span class="text-accent text-3xl font-bold uppercase">About</span>
      <h2 class="text-5xl font-bold text-[#0e4b5a] mt-2">{{ doctor.name }}</h2>
      {% comment %} <p><b>{{ doctor.experience_years }}+ Years Experience</b></p> {% endcomment %}
      <p class="italic mt-2 text-2xl">About
        {{ doctor.specialization }}</p>

      <a href="#appointment" class="mt-6 inline-block border-2 border-amber-600 rounded-md px-6 py-3 font-semibold text-amber-600 hover:bg-amber-600 hover:text-white transition">Book Clinic Appointment Now</a>
    </div>
  </div>
</section>
